<%= nested_form_for(house) do |form| %>
<div class="house_date">
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>
      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>円
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>年
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
</div>

  <div class="station_date">
    <% n = 0 %>
    <%= form.fields_for :stations do |station| %>
    <% n += 1 %>
    <p class="moyorieki"></p>
      <div class="form-group">
        <%= station.label :line, "路線名" %>
        <%= station.text_field :line %>線
        <br>
        <%= station.label :name, "駅名" %>
        <%= station.text_field :name %>駅
        <br>
        <%= station.label :elapsed_time, "徒歩分数" %>
        <%= station.number_field :elapsed_time %>分
        </div>
    <% end %>

    <%= form.link_to_add :最寄駅を追加, :stations, id: "addStation" %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  </div>

<script>
window.onload = () => {
  document.getElementsByClassName('moyorieki')[0].innerText = "最寄駅1"
  const button = document.getElementById('addStation')
  button.addEventListener('click', () => {
    setTimeout(() => {
      const moyoriekis = document.getElementsByClassName('moyorieki')
      for(i = 0; i < moyoriekis.length; i++){
        moyoriekis[i].innerHTML = `最寄駅${i+1}`
      }
    }, 1)
  })
}
</script>
