<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @house.price %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @house.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @house.comment %>
</p>

<% @house.stations.each_with_index do |s, i| %>
<h4><%= "最寄駅#{i+1}" %></h4>
  <p>
    <strong>路線名:</strong>
    <%= s.line %>線
  </p>

  <p>
    <strong>駅名:</strong>
    <%= s.name %>駅
  </p>

  <p>
    <strong>徒歩分数:</strong>
    <%= s.elapsed_time %>分
  </p>
<% end %>


<%= link_to '編集', edit_house_path(@house) %> |
<%= link_to '戻る', houses_path %>
